#eventBox {
  position: fixed;
  top: 56px;
  bottom: 271px;
  left: 0px;
  right: 0px;
}

#eventBoxContainer {
  overflow-y: scroll;
  max-height: 100%;
  min-height: 100%;
}

.correct-icon {
  color: green;
}

.incorrect-icon {
  color: red;
}
